body{
    color:aliceblue;
    background-color:pink;
    font-family: courier;
    font-weight: bold;
    font-size: large;
}
p{
    text-align: center;
    font-style:italic;
    font-family:'calibri';
}
h6{
    font-family: Lucida Sans;
    text-align: right;
    font-weight:bold;
    font-style: italic;
    color:lightgreen;
}h1{
    color:blue;
    font-style:italic;
    font-family:monospace;
}
button{
    color: blue;
    font-style: italic;
    font-family: 'Courier New';
}
#firstone{
 color: aqua;    
}
#secondone{
    color: aqua;
}
#thirdone{
    color: aqua;    
   }
   #fourthone{
    color: aqua;    
   }
   #fifthone{
    color: rgb(140, 0, 255);    
   }
 #sixthone{
    color:aqua;
 }